body{
    margin: 0;
    background-color: #ffab40;
}

.encabezado{
display: flex;
height: 70px;
background-color: rgb(255, 115, 0);
justify-content: space-around;
align-items: center;
padding: 10px;
font-size: 20px;
}

.logo{
    display: flex;
    align-items: center;
    
}

.logo-img{
    height: 50px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
}
a.hover{
    color: white;
}

.contenedor h1{
    margin-top: 30px;
}

.contenedor p{
    text-align: justify;
    margin: 50px;
    
    
}


#img1{
    display: flex;
    width: 500px;
    height: 270px;
    margin-left: 56.7%;
    margin-top: 50px;
    border-radius: 10%;
    

}

#img2{
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
    float: left;
    border-radius: 10%;
 
}

#que{
    display: flex;
    margin-left: 600px;
    margin-top: 70px;
}
.titulo{
    display: flex;
    margin-left: 150px;
}
#titulo_principal{
    display: flex;
    margin-top: -190px;
    margin-left: 150px;
    margin-right: 650px;
    background-color: #ffd180;
    font-size: 23px;
    border-radius: 7%;
}

#titulo-2{
    border-radius: 7%;
    margin-left: 552px;
    margin-right: 150px;
    background-color: #ffd180;
    font-size: 23px;
}

.logo2{
    display: flex;
    margin-top: 150px;
    margin-left: 50px;
    
}

.redes{
    display: flex;
    margin-top: -69px;
    margin-left: 80%;
}



.pie2{
    display: flex;
    justify-content:space-around;
    margin-right: 20px;
    margin-top: 30px;
}
#horario{
    font-weight: 600;
}
 
.pie{
    background-color:rgb(255, 115, 0) ;
}

.contenedor-m{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.center-content{
align-items: center;
}




